<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="dns-prefetch" href="//g.alicdn.com">
        <link rel="dns-prefetch" href="//at.alicdn.com">
        <link rel="dns-prefetch" href="//gw.alicdn.com">
        <link rel="dns-prefetch" href="//api.m.taobao.com">
        <link rel="dns-prefetch" href="//cdn.mmstat.com">
        <link rel="dns-prefetch" href="//log.mmstat.com">
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta content="yes" name="apple-touch-fullscreen" />
        <meta content="telephone=no,email=no" name="format-detection" />
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
        <title>模块:developing-project-name</title>
        <script src="//g.alicdn.com/sanwant/shop-render/0.0.8/render-module.js"></script>
    </head>
    <body data-spm="3745-b-s">
        <div class="J_module" id="layout1" module-id="layout1" module-name="developingClassName" module-vers="0.0.1" module-data='
            {
                "type":"api",
                "data":{
                    "context":{
                        "sellerId":"263662065",
                        "shopId":"58498233",
                        "siteInstanceId":"58498233",
                        "widgetId":"58498233"
                    },
                    "asynData":{
                        "url":"/data/web-mock.json",
                        "param":{
                            "id":1,
                            "sellerId":"263662065",
                            "shopId":"58498233"
                        }
                    }
                }
            }'>
        </div>
    </body>
</html>
