<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="dns-prefetch" href="//g.alicdn.com">
        <link rel="dns-prefetch" href="//at.alicdn.com">
        <link rel="dns-prefetch" href="//gw.alicdn.com">
        <link rel="dns-prefetch" href="//api.m.taobao.com">
        <link rel="dns-prefetch" href="//cdn.mmstat.com">
        <link rel="dns-prefetch" href="//log.mmstat.com">
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta content="yes" name="apple-touch-fullscreen" />
        <meta content="telephone=no,email=no" name="format-detection" />
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
        <title>旺铺模块开放系统</title>
    </head>
    <body>
        <h1>请选择页面预览调试</h1>
        <div>
            <a href="pages/web.html" style="margin-right: 50px">PC模块</a>
            <a href="pages/weex.html">无线weex</a>
        </div>
    </body>
</html>
